@import 'variables';

html, body {
    background: $dash-background;
}

* {
    margin: 0;
    padding: 0;
    font-family: $font-family, sans-serif;
    font-weight: 300;
}

*, :before, :after {
    box-sizing: border-box;
}
@import "global-styles";
@import "components/header";
