.main_area_access_user_auth {
    display: flex;
    max-width: 100%;
    padding: 30px;
    min-height: 100vh;


    .main_area_access_user_auth_content {
        background-color: #171717;
        width: 600px;
        max-width: 90%;
        margin: auto;
        padding: 30px 40px 20px 40px;
        align-items: center;
        border-radius: $radius-medium;

        header {
            .main_login_logo {
                color: #e7e7e7;
                text-align: center;
                font-size: 2em;
                font-weight: 100 !important;

                span {
                    font-weight: 300;
                }
            }

            h1 {
                font-size: $font-size-normal;
                text-align: center;
                font-weight: 300;
                color: #e7e7e7;
                margin-top: 10px;
            }
        }

        form {
            display: block;
            margin: 15px 0;


            label {
                display: block;
                margin-bottom: 30px;
            }

            label .field {
                font-size: $font-size-small;
                display: block;
                font-weight: 400;
                color: #e7e7e7;
            }

            input {
                border: 1px solid #e7e7e7;
                font-size: $font-size-normal;
                //background: #171717;
                background: rgba(12, 12, 12, 1);
                color: #e7e7e7;
                outline: none;
                display: block;
                width: 100%;
                padding: 13px;
                margin-top: 8px;
                border-radius: 10px !important;

                &::placeholder {
                    color: #F0F2F5;
                    font-weight: 300;
                }

                &:focus {
                    border: 1px solid #FFFFFF;
                }
            }

            input:not([type="radio"]):not([type="checkbox"]) {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px;
            }

            button {
                font-size: $font-size-small;
                display: block;
                cursor: pointer;
                width: 100%;
                padding: 10px;
                border: none;
                color: #ffffff;
                font-weight: 400;
                text-transform: uppercase;
                border-radius: 12px !important;
                background-image: linear-gradient(10deg, #e3e1e1 0%, #b0b0b0 100%);
                border: 1px solid #e7e7e7;
                border-radius: 12px;
                color: #000;
                opacity: .9;

                &:hover {
                    background-image: linear-gradient(195deg, #e3e1e1 0%, #b0b0b0 100%);
                }
            }

        }

        .main_login_register {
            margin: 15px 0px;
            display: flex;
            justify-content: space-between;

            small {
                color: #F0F2F5;
                font-weight: 300;
            }

            a {
                color: #F0F2F5;
                font-size: $font-size-min;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        footer {
            padding-top: 15px;
            border-top: solid 1px #adadae;
            font-size: $font-size-min;
            text-align: center;
            font-weight: 300;
            color: #F0F2F5;

            a {
                color: #36BA9B;
                text-decoration: none;
            }

            a:hover {
                text-decoration: underline;
            }

            p {
                margin: 2px;

                &.content_help {
                    margin-top: 3px;

                    a {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

