$color-purple: #6b22a0;
$color-purple-dark: #4e1578;
$color-black: rgba(19, 19, 19, 1);
$color-gray-dark: #333333;
$color-dark: #1a1f26;
$color-dark-secondary: #282f3a;

$color-dark-gradient: linear-gradient(195deg, #121219 100%, #111010 100%);
$color-orange-gradient: linear-gradient(195deg, #ec407a, #d81b60);
$color-purple-gradient: linear-gradient(195deg, #994ad2 20%, #8633c2 100%);
$color-green-gradient: linear-gradient(195deg, #4fcaa4 20%, #2ba681 100%);
$color-yellow-gradient: linear-gradient(195deg, #ffa726, #fb8c00);
$color-blue-gradient: linear-gradient(195deg, #49a3f1, #1a73e8);
$color-secondary-gradient: linear-gradient(195deg, #747b8a, #495361);
$color-secondary-gradient-reverse: linear-gradient(10deg, #747b8a, #495361);

// INDEX SYSTEM
$index-modal: 4;

// GERAL
$hover-duration: .4s;
$size-box-content: min(90vw, 1480px);

/**
FONT SYSTEM
 */
$font-size-min: 0.8em;
$font-size-small: 0.875em;
$font-size-normal: 1em;
$font-size-medium: 1.2em;
$font-size-large: 1.4em;
$font-size-max: 2em;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-strong: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

/**
RADIUS SYSTEM
 */
$radius-normal: 5px;
$radius-medium: 10px;
$radius-large: 20px;

/** DASH CONTENT */
$dash-background: #F0F2F5;
$font-family: 'Poppins', sans-serif;
//$shadow-default-box: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$shadow-default-box: rgba(168, 169, 172) 1px 1px 2px;

/**
COLOR SYSTEM
 */
$color-gray-light: #CCCCCC;
$color-gray-medium: #393939;
$color-gray: #999999;
$color-gray-dark: #333333;
$color-green: #1ac39c;
$color-blue: #39AED9;
$color-yellow: #F5B946;
$color-red: #fb4e5f;
$color-orange: #f56964;
$color-critical-error: #a40745;

$button-hover-type: 'lighten'; // darken || lighten
$button-hover-amount: 15%;
$gradient-hover-type: 'lighten'; // darken || lighten
$gradient-hover-amount: 15%;

/** Auto generate buttons, gradients */
$theme-colors: () !default;
$theme-colors: map_merge(
        (
            "success": $color-green,
            "blue": $color-blue,
            "yellow": $color-yellow,
            "red": $color-red,
            "orange": $color-orange,
            "black": $color-black,
        ), $theme-colors
);
