* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-rendering: geometricPrecision;
}

img {
    max-width: 100%;

    a {
        border: none;
    }
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

// RESET DE FORMULÁRIO [RETIRANDO PADRÃO BOOTSTRAP]
form {

    textarea:focus, input:focus, select:focus {
        box-shadow: 0 0 0 0 !important;
        outline: 0 !important;
    }
}
